<select ng-model="cStudent"
  ng-options="student as student.firstname + ' ' + student.lastname for student in students"
><option value="">Choose...</option></select>

  <ul>
    <li ng-repeat="standup in studentStandups" id="{{ standup.objectId }}">{{ standup.currently }}</li>
  </ul>

<a href="#" data-reveal-id="suModal" ng-if="cStudent">Add A StandUp</a>

<div id="suModal" class="reveal-modal" data-reveal>
  <h4>Add A StandUp for {{ cStudent.firstname }} {{ cStudent.lastname }}</h4>
  <a class="close-reveal-modal">&#215;</a>
  <form ng-submit="addStandup(standup)" id="add-student-form">
    <textarea ng-model="standup.currently" placeholder="Currently Working On"></textarea>
    <textarea ng-model="standup.roadblock" placeholder="Roadblocks"></textarea>
    <input type="text" ng-model="standup.student" id="csID" style="display: none;" />
    <button>Add</button>
  </form>
</div>
